/* 
    General Styles
*/
.my-carousel{
    display: flex;
    overflow-x: scroll;
    
};

.my-card-black{
    min-width: 300px;
    border: 1px solid black;
    margin: 10px;
}
/* .my-card-black div img{
    width: 100%
} */
.my-card-black div{
    min-width: 300px;
    
}
